{% extends 'MedicheckCmsBundle::base_secured_layout.html.twig' %}

{% block javascripts_header %}
    <script src="{{ asset('bundles/medicheckcms/js/fn_account.js') }}"></script>
{% endblock %}

{% block cms_content %}
    <form name="account" action="{{ path('logged_account') }}" method="post" {{ form_enctype(form) }}>
        <div class="col-xs-4 col-sm-4 col-md-5 col-lg-5">
            <div class="form-group row">
                {{ form_label(form.numSecu, 'account.numsecu'|trans({}, "account"), { 'label_attr': {'class': 'col-md-4 control-label'} } ) }}
                <div class="col-md-8">
                {{ form_widget(form.numSecu, {'attr': {'readonly': 'readonly'} } ) }}
                </div>
            </div>

            <div class="form-group row">
                {{ form_label(form.firstname, 'account.firstname'|trans({}, "account"), { 'label_attr': {'class': 'col-md-4 control-label'} } ) }}
                <div class="col-md-6">
                {{ form_widget(form.firstname, {'attr': {'class': 'form-control'} } ) }}
                    </div>
                {{ form_errors(form.firstname) }}
            </div>

            <div class="form-group row">
                {{ form_label(form.lastname, 'account.lastname'|trans({}, "account"), { 'label_attr': {'class': 'col-md-4 control-label'} } ) }}
                <div class="col-md-6">
                {{ form_widget(form.lastname, {'attr': {'class': 'form-control'} } ) }}
                </div>
                {{ form_errors(form.lastname) }}
            </div>

            <div class="form-group row">
                {{ form_label(form.passwordUnencoded.first, 'account.password.first'|trans({}, "account"), { 'label_attr': {'class': 'col-md-4 control-label'} } ) }}
                <div class="col-md-6">
                {{ form_widget(form.passwordUnencoded.first, {'attr': {'class': 'form-control'} } ) }}
                </div>
            </div>

            <div class="form-group row">
                {{ form_label(form.passwordUnencoded.second, 'account.password.second'|trans({}, "account"), { 'label_attr': {'class': 'col-md-4 control-label'} } ) }}
                <div class="col-md-6">
                {{ form_widget(form.passwordUnencoded.second, {'attr': {'class': 'form-control'} } ) }}
                </div>
                {{ form_errors(form.passwordUnencoded) }}
            </div>

            <div class="form-group row">
                {{ form_label(form.email, 'account.email'|trans({}, "account"), { 'label_attr': {'class': 'col-md-4 control-label'} } ) }}
                <div class="col-md-6">
                {{ form_widget(form.email, {'attr': {'class': 'form-control'} } ) }}
                </div>
                {{ form_errors(form.email) }}
            </div>
        </div>

        <div class="col-xs-5 col-sm-5 col-md-4 col-lg-4">
            {% include "MedicheckCmsBundle:Secured:recipients.html.twig" with { form: form } %}
        </div>

        <div class="col-xs-6 col-sm-6 col-md-7 col-lg-7">
            <button type="submit" class="btn btn-primary">{{ 'account.submit'|trans({}, "account") }}</button>
        </div>

        {#pour le csrf#}
        {{ form_widget(form._token) }}
    </form>
{% endblock %}