{% extends 'MedicheckCmsBundle::base_secured_layout.html.twig' %}

{% block stylesheets_header %}
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
{% endblock %}

{% block javascripts_header %}
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
{% endblock %}

{% block cms_content %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th data-sort="int">#</th>
            <th data-sort="string">{{ 'paiements.date'|trans({}, "paiements") }}</th>
            <th data-sort="string">{{ 'paiements.act'|trans({}, "paiements") }}</th>
            <th data-sort="string">{{ 'paiements.practitioner'|trans({}, "paiements") }}</th>
            <th data-sort="string">{{ 'paiements.user'|trans({}, "paiements") }}</th>
            <th data-sort="int">{{ 'paiements.amount'|trans({}, "paiements") }}</th>
            <th>{{ 'paiements.deductible'|trans({}, "paiements") }}</th>
            <th>{{ 'paiements.actions'| trans({}, "paiements") }}</th>
        </tr>
        </thead>
        <tbody>
            <form action="{{ path('register') }}" method="post">
                <td></td>
                <td><input></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </form>
        </tbody>
    </table>
{% endblock %}