{% import "@MedicheckCms/Secured/recipients_macro.html.twig" as macro %}

<table class="recipients table table-striped"
       data-prototype="{{ macro.recipients_prototype(form.recipients.vars.prototype)|e }}">
    <thead>
        <tr>
            <th data-sort="string">{{ 'account.numsecu'|trans({}, "account") }}</th>
            <th data-sort="string">{{ 'account.firstname'|trans({}, "account") }}</th>
            <th data-sort="string">{{ 'account.lastname'|trans({}, "account") }}</th>
            <th data-sort="string">{{ 'account.birthday'|trans({}, "account") }}</th>
            <th>{{ 'account.child'|trans({}, "account") }}</th>
            <th>{{ 'recipient.actions'| trans({}, "account") }}</th>
        </tr>
    </thead>
    <tbody>
        {% for recipient in form.recipients %}
        <tr>
            <td>{{ form_widget(recipient.numSecu, { 'attr' : {'readonly' : 'readonly'} }) }}</td>
            <td>{{ form_widget(recipient.firstname, { 'attr' : {'readonly' : 'readonly'} }) }}</td>
            <td>{{ form_widget(recipient.lastname, { 'attr' : {'readonly' : 'readonly'} }) }}</td>
            <td>{{ form_widget(recipient.birthday, { 'attr' : {'readonly' : 'readonly'} }) }}</td>
            <td>{{ form_widget(recipient.isChild, { 'attr' : {'disabled' : 'disabled'} }) }}</td>
            <td>{{ macro.actions_prototype() }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>