<div class="col-xs-4 col-sm-4 col-md-5 col-lg-5">
<table class="table table-striped">
    <thead>
    <tr>
        <th data-sort="int">#</th>
        <th data-sort="string">{{ 'account.numsecu'|trans({}, "account") }}</th>
        <th data-sort="string">{{ 'account.firstname'|trans({}, "account") }}</th>
        <th data-sort="string">{{ 'account.lastname'|trans({}, "account") }}</th>
        <th>{{ 'account.child'|trans({}, "account") }}</th>
        <th>{{ 'recipient.actions'| trans({}, "account") }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <form action="{{ path('logged_add_recipient') }}" onsubmit="return addRecipient(this);" method="post" {{ form_enctype(form) }}>
            {#action_name="{{ path('logged_account') }}"#}
            <td></td>
            <td class="input-group-sm">
                {{ form_widget(form.numSecu, {'attr': {'class': 'form-control'} } ) }}
                {{ form_errors(form.numSecu) }}
            </td>

            <td class="input-group-sm">
                {{ form_widget(form.firstname, {'attr': {'class': 'form-control'} } ) }}
                {{ form_errors(form.firstname) }}
            </td>

            <td class="input-group-sm">
                {{ form_widget(form.lastname, {'attr': {'class': 'form-control'} } ) }}
                {{ form_errors(form.lastname) }}
            </td>

            <td></td>

            <td>
                <button class="btn btn-primary">{{ 'recipient.add'|trans({}, "account") }}</button>
            </td>
        </form>
    </tr>
    {% for recipient in user.recipients %}
    <tr>
        <td>recipient.id</td>
        <td>recipient.numSecu</td>
        <td>recipient.firstname</td>
        <td>recipient.lastname</td>
        <td>recipient.isChild</td>
        <td></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    </div>