{% extends 'MedicheckCoreBundle::base_layout.html.twig' %}

{% trans_default_domain "login" %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="page-header">
                <h1>{{ 'login.title'|trans({}, "login")|raw }}</h1>
            </div>
            {% if error %}
                <div class="alert alert-warning">{{ error.message }}</div>
            {% endif %}

            <div class="col-md-8">
                <form action="{{ path('login_check') }}" method="post">
                    <div class="form-group">
                        <label for="username">{{ 'login.label.username'|trans({}, "login") }}</label>
                        {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.username) }}
                    </div>

                    <div class="form-group">
                        <label for="password">{{ 'login.label.password'|trans({}, "login") }}</label>
                        {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.password) }}
                    </div>

                    {{ form_rest(form) }}

                    <button type="submit" class="btn btn-primary">{{ 'login.button.connect'|trans({}, "login") }}</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}